<!-- views/home.handlebars -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <p>{{ message }}</p>
    <!-- Button to redirect to the about page -->
    <a href="/post-poetry" class="btn">Post your poem</a>
    <a href="/view-poems" class="btn">View poetry</a>
</body>
</html>