<!-- views/about.handlebars -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Poetry</title>
</head>
<body>
    <h1>Post a poem</h1>
    <p>This is where you can post your poetry</p>
    <!-- Form with text box and submit button -->
    <form action="/submit" method="post">
        <label for="textbox">Enter Text:</label>
        <input type="text" id="textbox" name="textbox">
        <input type="submit" value="Submit">
    </form>
    <a href="/view-poems" class="btn">View poetry</a>
</body>
</html>