<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Poems</title>
</head>
<body>
    <h1>View Poems</h1>
    <p>This is where you can view poetry that's been posted</p>
</body>
</html>